<div>
    <h1>Ciudad Lista</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Impuesto</th>
                <th>Edit</th>
                <th>Rutas</th>
                <th>Productos</th>
            </tr>
        </thead>
        <tbody>
            @for(ciudad of ciudades; track $index){
            <tr>
                <td>
                    <a [routerLink]="['/ciudad/view', ciudad.id]">
                        {{ciudad.id}} 
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/ciudad/view', ciudad.id]">
                        {{ciudad.nombre}} 
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/ciudad/view', ciudad.id]">
                        {{ciudad.impuesto_entrada}} 
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/ciudad/edit', ciudad.id]">Edit</a>
                </td>
                <td>
                    <a [routerLink]="['/ciudad/rutas', ciudad.id]">Rutas</a>
                </td>
                <td>
                    <a [routerLink]="['/ciudad/producto', ciudad.id]">Productos</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>