<div>
    <form (ngSubmit)="comprarServicio()">
      <table>
        <thead>
          <tr>
            <th>Efecto</th>
            <th>Tipo</th>
            <th>Comprar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>{{servicio?.efecto}}</p>
            </td>
            <td>
              <p>{{servicio?.tipo}}</p>
            </td>
            <td>
              <button type="submit">Comprar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  
