<div>
    <h1>Servicios</h1>
    @for (servicios of serviciosCiudad; track $index) {
    <form (ngSubmit)="comprarServicio(servicios.idServicio)">
        <table>
            <thead>
                <tr>
                    <th>Servicio Id</th>
                    <th>Precio</th>
                    <th>Detalle</th>
                    <th>Comprar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>
                            {{servicios.idServicio}}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{servicios.precio}}
                        </p>
                    </td>
                    <td>
                        <a 
                          (click)="verDetalle(servicios.idServicio); $event.stopPropagation()" 
                          [routerLink]="['/servicio', servicios.idServicio]"
                        >
                          ver
                        </a>
                      </td>
                    <td>
                        <button type="submit" [disabled]="yaCompradoLocalmente(servicios.idServicio)">Comprar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    }
</div>