<div>
    <h1>Productos</h1>
    <table>
        <thead>
            <tr>
                <th>Ciudad Id</th>
                <th>Producto Id</th>
                <th>Demanda</th>
                <th>Oferta</th>
                <th>Stock </th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            @for (producto of parametroProductoCiudadLista; track $index) {
                <tr>
                    <td>
                        <p>
                            {{producto.productoId}}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{producto.ciudadId}}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{producto.factorDemanda}}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{producto.factorOferta}}
                        </p>
                    </td>
                    <td>
                        <p>
                            {{producto.stock}}
                        </p>
                    </td>
                    <td>
                        <p [routerLink]="['/producto', producto.ciudadId]">
                            ver
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
