<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ciudad Ruta Origen Edit</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <form action="/ciudad/origen/save" method="post">
        <input type="hidden" name="ciudadId" th:value="${ciudadOrigen.ciudadId}">

        <ul>
            <li th:each="ruta : ${allRutas}">
                <input type="checkbox" name="rutasOrigenIds" th:value="${ruta.id}"
                    th:checked="${ciudadOrigen.rutasOrigenIds.contains(ruta.id)}"
                >
                <label>ruta</label>
                <label th:text="${ruta.id}"></label>
            </li>
        </ul>
        <button type="submit">Save</button>
    </form>
</body>
</html>