<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar jugador</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <form action="/jugador/save" method="post">
        <input type="hidden" name="id" th:value="${jugador.id}">
        <label>Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${jugador.nombre}">
        <label>Rol:</label>
        <input type="text" id="rol" name="rol" th:value="${jugador.rol}">
        <button type="submit">Save</button>
    </form>
</body>
</html>