<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Lista de Productos</h1>
    <p><a th:href="@{/producto/create}">Crear un Producto</a></p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Detalles</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${listaProductos}">
                <td th:text="${producto.id}"></td>
                <td th:text="${producto.nombre}"></td>
                <td>
                    <a th:href="@{/producto/view/{id}(id=${producto.id})}">Ver</a>
                </td>
                <td>
                    <a th:href="@{/producto/edit/{id}(id=${producto.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/producto/delete/{id}(id=${producto.id})}">Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
