<div *ngIf="producto">
  <form>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Comprar</th>
          <th>Vender</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ producto.id }}</td>
          <td>{{ producto.nombre }}</td>
          <td>
            <input type="number" [(ngModel)]="cantidad" name="cantidad" min="1">
          </td>
          <td>
            <button type="button" (click)="comprar()">Comprar</button>
          </td>
          <td>
            <button type="button" (click)="vender()">Vender</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>